.quiz-container {
  width: 15vw;
  height: 10vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5%;
}

.answer {
  margin: 0 0 5% 5%;
}

a {
  text-decoration: none;
}

.mat-button:hover {
  background: rgba(62, 62, 241, 0.048);
}