.quiz {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn {
    margin: 5% 0 0 0;
}

a {
    text-decoration: none;
}

.mat-button:hover {
    background: rgba(62, 62, 241, 0.048);
}