.question-container {
    width: 80%;
    margin: 1em auto 0;
    padding-top: 1em;
    /* background-color: gold; */
}

.questions {
    display: grid;
    /* background-color: rgba(0, 0, 255, 0.212); */
}

.questions button {
    justify-self: center;
}

/* .quiz {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn {
    margin: 5% 0 0 0;
}

a {
    text-decoration: none;
}

.mat-button:hover {
    background: rgba(62, 62, 241, 0.048);
} */