<div class="quiz-container">
    <mat-card>
        <mat-card-title class="title">Welcome to my quiz app, please select one of the following options:</mat-card-title>
    </mat-card>
    <div class="quiz">
        <div *ngFor="let q of quiz">
            <mat-card>
                <mat-card-title>{{q.label}}</mat-card-title>
                <mat-card-subtitle>{{q.description}}</mat-card-subtitle>
                <mat-card-actions>
                    <button mat-button>
                        <a routerLink="/{{q.name}}">{{q.label}}</a>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>